"# Compiled files" 
"*.class" 
"*.jar" 
"*.war" 
"" 
"# Build folders" 
"target/" 
"build/" 
"bin/" 
"out/" 
"dist/" 
"" 
"# IDE" 
".vscode/" 
".idea/" 
"*.iml" 
"" 
"# Angular" 
"node_modules/" 
"" 
"# OS files" 
".DS_Store" 
"Thumbs.db" 
